

.collapse .nav-link{
    padding: 15px;
    background-color: #ffc712;
}

.collapse ul li a:hover{
  background: #e9d7e9;
  color: #ffc712;
  cursor: pointer;
}

.collapse ul li{
    margin: 10px;
}

#btn{
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

#search{
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.img-style{
   width: 250px;
}

.navbar-brand{
    margin: 20px;
    text-align: center;
    
}

.card{
    margin: 10px;
    display: flex;
    float: left;
    text-align: center;
    justify-content: center;
}

.nav-item a{
    border-radius: 10%;
    padding: 15px;
}



.search-bar{
    text-align: center;
    margin-bottom: 20px;
}

.carousel-inner{
    position: relative;
    margin-top: 15px;
    margin-bottom: 50px;
}

.carousel-item img{
    height: 600px;
}
